.movie-search-result {
    padding: 5px 10px;
}

.movie-search-nothing {
    padding: 10px;
    text-align: center;
    color: red;
    margin-bottom: 78vh;
}

.movie-navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #000;
}

.movie-navbar-buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.movie-navbar-title {
    padding: 5px;
}
.movie-navbar-pages {
    display: flex;
    flex-wrap: wrap;
}

.movie-navbar-page {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 0 5px;
}
.movie-navbar-page_active {
    pointer-events: none;
    border: 1px solid white;
}

.movie-navbar-page:hover {
    cursor: pointer;
    border: 1px solid white;
}

.movie-navbar-button {
    align-self: center;
    min-width: 110px;
}

.movie-navbar-button:hover {
    cursor: pointer;
    background: yellow;
    outline: none;
}

@media(max-width:479px) {
    .movie-navbar-title {
        display: none;
    }
    .movie-navbar {
        justify-content: center;
    }
    .movie-navbar-pages {
        text-align: center;
    }
}