.MuiCardMedia-root {

}

.MuiCardContent-root {
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
@media(max-width: 479px) {
    .MuiCardContent-root {
        height: auto;
    }
}

