.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 20px;
}

.search-form__input {
    width: 100%;
    margin-right: 10px;
    padding: 7px;
}

.search-form__input:focus {
    outline: none;
}