.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    color: #fff;
}
.navbar-title {
    padding: 5px;
}
.navbar-page {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
}
.navbar-page_active {
    pointer-events: none;
    border: 1px solid white;
}

.navbar-page:hover {
    cursor: pointer;
    border: 1px solid white;
}

.navbar-button:hover {
    cursor: pointer;
    background: yellow;
    outline: none;
}

.navbar-buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media(max-width:480px) {
    .navbar-title {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    .navbar-pages {
        text-align: center;
        width: 40px;
    }
}